.install_url {
    border-bottom: 1px solid #eee;
    margin-bottom: 15px;
}
.install_url .breadcrumb {
    font-size: 14px;
    color: #666;
    padding: 15px 10px;
    background: none;
    margin-bottom: 0;
}
.install_url .divider {
    display: none;
}
.install_fast {
    margin-bottom: 20px;
}
.tc {
    text-align: center;
}
.pagination {
    clear: both;
    display: block;
    text-align: center;
}
.pagination {
    margin-top: 50px;
}
.pagination > ul {
    display: inline-block;
}
.pagination ul {
    box-shadow: none;
}
.pagination ul > li {
    float: left;
}
.pagination .pagination-start span, .pagination .pagination-prev span, .pagination .pagination-next span, .pagination .pagination-end span {
    border: none;
    padding: 4px 10px;
    border-radius: 2px;
    margin-left: 8px;
    color: #C0C4CC;
    background: #F0F2F5;
}
.pagination ul > li a, .pagination ul > li span {
    min-width: 28px;
    display: block;
}
.pagination li span {
    background: #327DF1;
    color: #fff;
    cursor: pointer;
    padding: 4px 10px;
    border-radius: 2px;
    margin-left: 8px;
}
.pagination ul > li a {
    border: none;
    min-width: 28px;
    background: #F0F2F5;
    border-radius: 2px;
    padding: 4px 10px;
    color: #666;
    font-size: 14px;
    margin-left: 8px;
}
.pagination ul > li a, .pagination ul > li span {
    min-width: 28px;
    display: block;
}




.crumb_url .breadcrumb {font-size: 14px;  color: #666;  padding: 15px 10px;  background: none;  margin-bottom: 0;}
.crumb_url .active a,.crumb_url .active a:hover{ color: #327DF1;}
.hardware_bg{ background: url("../img/product.png") no-repeat;height: 400px;width: 100%;}
.hardware_txt{ max-width:800px; text-align: center; margin: 0 auto; padding-top: 120px;color: #fff;}
.hardware_h{ font-size: 40px; margin-bottom: 15px; }
.hardware_t{ font-size: 16px; line-height: 1.7;}

.hardware_tit{ font-size: 30px; color: #2C3D4F; margin: 65px auto 15px auto; text-align: center; font-weight: bold;}
.plan_tab > li{ display: inline-block; padding: 10px 15px;}
.plan_tab > li > a{ padding: 0 0 5px 0; color: #78828C;border-bottom: 2px solid #fff;}
.plan_tab > li:hover > a,.plan_tab > li:focus > a,.plan_tab > li> a:hover { background: #fff; }
.plan_tab .active a{ color: #327BEB;border-bottom: 2px solid #327BEB;}
.hardware_show{ margin-top: 20px;}
.hardware_show .items-row{ width: 31%; float: left; margin: 0 1%; text-align: center; margin-bottom: 60px;}
.hardware_show .item-image{ float: none!important;}
.hardware_show .item-image a{ display: inline-block;}
.hardware_show .item-image img{ max-height: 200px; width: 200px;}
.hardware_show .page-header{ margin: 30px 0 10px 0; border-bottom: 0; padding-bottom: 0;}
.hardware_show .page-header h2{ font-size: 20px;}
.hardware_show .page-header a{ color: #333333; }
.hardware_show .readmore .btn{ border: 1px solid #327DF1; color: #327DF1; font-size: 12px; padding: 8px 16px;border-radius:2px; margin-top: 18px;}
.hardware_show .readmore .btn:hover{ background: #327DF1; color: #fff;}
.hardware_show .readmore .btn:focus{ box-shadow: none;}
.hardware_show .plan_txts{ font-size: 14px; color: #666666; display: block;text-align: center;}
.hardware_show .plan_names{ padding: 0; background: none;}
.hardware_detail{ margin-top: 40px;}
.img_hardware{ height: 300px; overflow: hidden;}
.img_hardware img{ width: 300px;}
.param_list .param_n{ font-size: 28px; color: #43484D; margin-bottom: 75px;}
.param_list .head_param{ margin-top: 25px; margin-bottom: 10px;}
.buy_type a{ display: inline-block; padding:10px 0;width: 120px; vertical-align: middle; text-align: center; margin-right:8px;border-radius:2px;}
.buy_type a img{ height: 24px; }
.jd_buy{ border: 1px solid #ddd;}
.tm_buy{ border: 1px solid #ddd;}
.buy_type .way_buy,.buy_type .way_buy:hover{ background: #327DF1; color: #fff;font-size:16px;padding: 12px 0; }
.service_type a{ color: #43484D; margin-right: 15px;}
.service_type img{ margin-right: 5px; display: inline-block; vertical-align: middle;}
.param_tab{ border-top:1px solid #ddd; padding: 25px 0 18px 0; margin-top: 40px; }
.param_tab span{ font-size: 18px; color: #666666;vertical-align: middle;}
.param_tab i{ background: #ddd; height: 18px; width: 1px; display: inline-block; margin: 0 10px; vertical-align: middle;}
.param_lays .product_param{ margin-bottom: 50px; border-top: 1px solid #ddd;}
.param_lays .param_light{ background: #F6F9FD;}
.param_div{ border-bottom:1px solid #ddd; }
.product_param .param_li{ width: 33.3%; float: left; padding: 12px 0;position: relative;}
.product_param .param_li label{ color: #333; font-weight: normal; text-align: right;width:80px;margin: 0 10px 0 40px; position: absolute; left: 0;}
.product_param .param_li span{color: #666; margin-left:120px; display: block; }


@media (max-width: 992px) and (min-width: 768px){
    .hardware_bg{ background-position: center center;height: 300px;}
    .hardware_txt{ padding-top: 70px;}
    .hardware_h{ font-size: 30px;}
    .hardware_t{ padding: 0 20px; font-size: 15px;}
    .hardware_tit{ font-weight: normal; font-size: 28px; margin: 55px auto 10px auto;}
    .hardware_show .items-row{ margin-bottom: 40px;}
    .hardware_show .page-header h2{ font-size: 18px;}
    .hardware_show .page-header{ margin-top: 20px;}
    .buy_type a{ margin-bottom: 10px;}
    .product_param table td{ padding: 10px 0 10px 20px;}
    .param_tab{ margin-top: 25px;}
    .product_param .param_li label{ margin-left: 10px;}
    .product_param .param_li span{ margin-left: 90px;}

}
@media only screen and (max-width: 767px) and (min-width: 0px){
    .crumb_url{ display: none;}
    .hardware_head{ margin-top: 15px;}
    .hardware_bg{ background-position: center center;height: 230px; margin-top: 15px;}
    .hardware_txt{ padding-top: 40px;}
    .hardware_h{ font-size: 26px;}
    .hardware_t{ padding: 0 15px; font-size: 14px;}
    .hardware_tit{ font-weight: normal; font-size: 22px; margin: 35px auto 10px auto;}
    .hardware_show .items-row{ margin-bottom: 25px;width: 98%;}
    .hardware_show .item-image img{ width: 60%;}
    .hardware_show .page-header h2{ font-size: 18px;}
    .hardware_show .page-header{ margin-top: 15px;}
    .buy_type a{ width: 100px;}
    .buy_type a img{  height: 22px;}
    .buy_type .way_buy,.buy_type .way_buy:hover{ font-size: 14px;}
    .img_hardware{ text-align: center;}
    .img_hardware img{ width: 80%; margin: 0 auto;}
    .param_list .param_n{ font-size: 22px; margin-bottom: 10px;}
    .buy_type a{ margin-bottom: 10px;}
    .param_list .head_param{ margin-top: 15px;}
    .param_tab{ margin-top: 20px;}
    .service_type a{ margin-right: 10px; font-size: 13px;}
    .param_tab span{ font-size: 16px;}
    .param_tab{ padding-top: 15px;}
    .product_param .param_li{ width: 100%; padding: 8px 0;}
    .param_lays .param_light{ background: #fff;}
    .param_div{ border-bottom: none;}
    .product_param{ padding-top: 10px;}
    .product_param .param_li label{ margin-left: 20px;}
    .product_param .param_li span{ margin-left: 100px;}
    .param_li br{ display: none;}
}
